src/main/mule/buisnesspoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="056a4fb6-6c34-4191-8fbb-a1bdca3ce80a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="buisnesspocFlow" doc:id="15064a3c-8f7e-4227-88f7-d5d041b184e2" >
		<http:listener doc:name="Listener" doc:id="b79c2267-1389-4d77-adb8-1e3e07f2f000" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="a458ca8d-1ee4-4ca3-9468-0da5e8a8f9c1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Diwali_offer":"upto 80 % off,Mobile Number 9504122065"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dcaf0595-8f15-4006-9d93-9fbb1027ae06" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="72c5d70c-9a0b-47a5-ac09-4f1657d37469" />
		<logger level="INFO" doc:name="Logger" doc:id="6fc63721-3003-4adc-ba61-b2f809b42a39" />
	</flow>
</mule>
